
.larger-vertical {
	min-height: 1000px;
}

.mikepic {
	width: 100px;
	height: 150px;
	margin: 5px;
}

#accordion h3 {
	color: #0c9eed;	
}

.contactcontainer, .logincontainer, .registercontainer {width: 100%;}

.logincontainer h3,
.logincontainer h4,
.contactcontainer h3,
.contactcontainer h4 {
	text-align: center;
}

#radio_msg {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1%;
}

label[for="dept1"], label[for="dept2"], label[for="dept3"], label[for="dept4"] {
	font-size: 12px;
}


#services .ui-content .ui-block-a,
#services .ui-content .ui-block-b,
#services .ui-content .ui-block-c {
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	background-color: #424242;
}

.float-right {
    float: right;
    vertical-align: middle;
}

.mobileexamplefunctionality {
	background-color: #353E57;
}

#mobileinternetswipe {
	width: 98%;
	margin: 0 auto;
	height: 200px;
	border: 2px solid red;
}

#orientation {
	width: 98%;
	margin: 0 auto;
	height: 50px;
	border: 2px solid green;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#mobileinternettaphold {
	width: 98%;
	margin: 0 auto;
	height: 200px;
	border: 2px solid blue;
}

.mobileinternet-one {
	background-image: url(../images/mobile_internet1.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   
}
.mobileinternet-two {
	background-image: url(../images/mobile-internet2.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   	
}
.mobileinternet-three {
	background-image: url(../images/mobile-internet3.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   	
}

/* Class for third tab that allows displaying tab based on screen size */
.jqueryUItabgame {
	display: none;
}


#draggable1 {
	display: none;
	background-image: url(../images/smiley-teeth.png);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    width: 80px;
    height: 80px;
}

#draggable2 {
	display: none;
	background-image: url(../images/smiley-teeth.png);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    width: 80px;
    height: 80px;
}

#dropSad {
	display: none;
    width: 12em;
    height: 12em;
    padding: 0.5em;
    border: 3px solid #f90;
    border-radius: 1em;
    margin: 0 auto;
}

#dropHappy {
	display: none;
    width: 12em;
    height: 12em;
    padding: 0.5em;
    border: 3px solid #f90;
    border-radius: 1em;
    margin: 0 auto;
}

/* Bounce Effect style for small screen size used in home page tabs */
#bounce_example {
	width: 75px;
	height: 75px;
	color: black;
	background: #ccc;
	text-align: center;
	margin: 5px auto;

	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

/* Color Animation Effect style for small screen size used in home page tabs */
#color_example {
	width: 75px;
	height: 75px;
	color: blue;
	border: 2px red solid;
	background-color: #aaa;
	font-size: 15px;
	padding: 1em;
	text-align: center;
	margin: 5px auto;

	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

/* Pulsate Effect style for small screen size used in home page tabs */
#pulsate_example {
	width: 90px;
	height: 60px;
	color: grey;
	border: 2px white solid;
	background-color: #0B2161;
	font-size: 15px;
	padding: 1em;
	text-align: center;
	margin: 5px auto;

	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* column | row */
}

.servicespics-a, .servicespics-b, .servicespics-c {
	width: 98%;
	height : 200px;
	margin: 4px auto;
	padding-left: 1%;
	padding-right: 1%;	
}

@media only all and (min-width: 768px) {

	.mikepic {
		width: 400px;
		height: 600px;
		margin: 25px;
	}

label[for="dept1"], label[for="dept2"], label[for="dept3"], label[for="dept4"] {
	font-size: 15px;
}

	.contactcontainer, .logincontainer, .registercontainer {
		background-color: #6E6E6E;
		margin: 0 auto;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 1%;
		padding-bottom: 1%;}

	.contactcontainer, .logincontainer {
		width: 50%;
	}

	.registercontainer {
		width: 75%;
	}

	.registercontainer .ui-block-a,
	.registercontainer .ui-block-b
	 {
		padding-left: 1%;
		padding-right: 1%;
	}

	.servicestitle h1 {
		font-size: 48px;
		font-family: 'Montserrat', sans-serif;
	}

	#services .ui-content .ui-block-a,
	#services .ui-content .ui-block-b,
	#services .ui-content .ui-block-c {
		width: 33.33333%;
	}

	.servicespics-a, .servicespics-b, .servicespics-c {	
		height : 400px;
		margin: 10px auto;
	}

	/* Class for third tab that allows displaying tab based on screen size */
	.jqueryUItabgame {
		display: inherit;
	}

	#draggable1 {
		display: inherit;
		background-image: url(../images/smiley-teeth.png);
		background-size:     cover;
	    background-repeat:   no-repeat;
	    background-position: center center;
	    width: 80px;
	    height: 80px;
	}

	#draggable2 {
		display: inherit;
		background-image: url(../images/smiley-teeth.png);
		background-size:     cover;
	    background-repeat:   no-repeat;
	    background-position: center center;
	    width: 80px;
	    height: 80px;  	
	}

	#dropSad {
		display: inherit;
	    width: 12em;
	    height: 12em;
	    padding: 0.5em;
	    border: 3px solid #f90;
	    border-radius: 1em;
	    margin: 0 auto;
	    float: left;
	}

	#dropHappy {
		display: inherit;
	    width: 12em;
	    height: 12em;
	    padding: 0.5em;
	    border: 3px solid #f90;
	    border-radius: 1em;
	    margin: 0 auto;
	    float: right;
	}

	/* Bounce Effect style for larger screen size used in home page tabs */
	#bounce_example {
	    width: 200px;
	    height: 200px;
	    color: black;
	    background: #ccc;
	    text-align: center;
	    margin: 15px auto;
  		vertical-align: middle;

  		display: flex;
    	justify-content:center;
    	align-content:center;
    	flex-direction:column; /* column | row */
	}

	/* Color Animation Effect style for larger screen size used in home page tabs */
	#color_example {
		width: 200px;
	    height: 200px;
	    color: blue;
	    background-color: #aaa;
	    border: 10px red solid;
	    font-size: 25px;
	    padding: 1em;
	    text-align: center;
	    margin: 15px auto;
  		vertical-align: middle;

  		display: flex;
    	justify-content:center;
    	align-content:center;
    	flex-direction:column; /* column | row */
	  }

	/* Pulsate Effect style for larger screen size used in home page tabs */
	#pulsate_example {
		width: 270px;
		height: 380px;
		color: grey;
		border: 10px white solid;
		background-color: #0B2161;
		font-size: 25px;
		padding: 1em;
		text-align: center;
		margin: 15px auto;
    	
    	display: flex;
    	justify-content:center;
    	align-content:center;
    	flex-direction:column; /* column | row */
	}

}