
.contactcontainer, .logincontainer, .registercontainer {width: 100%;}

.logincontainer h3,
.logincontainer h4,
.contactcontainer h3,
.contactcontainer h4 {
	text-align: center;
}

#radio_msg {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1%;
}

#services .ui-content .ui-block-a,
#services .ui-content .ui-block-b,
#services .ui-content .ui-block-c {
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	background-color: #424242;
}

.float-right {
    float: right;
    vertical-align: middle;
}

.mobileexamplefunctionality {
	background-color: #353E57;
}


.mobileinternet-one {
	background-image: url(../images/mobile_internet1.jpg);
}
.mobileinternet-two {
	background-image: url(../images/mobile_internet2.jpg);
}
.mobileinternet-three {
	background-image: url(../images/mobile_internet3.jpg);
}


@media only all and (min-width: 768px) {
	.contactcontainer, .logincontainer, .registercontainer {
		background-color: #6E6E6E;
		margin: 0 auto;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 1%;
		padding-bottom: 1%;}

	.contactcontainer, .logincontainer {
		width: 50%;
	}

	.registercontainer {
		width: 75%;
	}

	.registercontainer .ui-block-a,
	.registercontainer .ui-block-b
	 {
		padding-left: 1%;
		padding-right: 1%;
	}
}