
.contactcontainer, .logincontainer, .registercontainer {width: 100%;}

.logincontainer h3,
.logincontainer h4,
.contactcontainer h3,
.contactcontainer h4 {
	text-align: center;
}

#radio_msg {
	margin: 0 auto;
	text-align: center;
	padding-bottom: 1%;
}

#services .ui-content .ui-block-a,
#services .ui-content .ui-block-b,
#services .ui-content .ui-block-c {
	width: 100%;
	padding-left: 1%;
	padding-right: 1%;
	text-align: center;
	background-color: #424242;
}

.float-right {
    float: right;
    vertical-align: middle;
}

.mobileexamplefunctionality {
	background-color: #353E57;
}

#mobileinternetswipe {
	width: 98%;
	margin: 0 auto;
	height: 200px;
	border: 2px solid red;
}

#orientation {
	width: 98%;
	margin: 0 auto;
	height: 50px;
	border: 2px solid green;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

#mobileinternettaphold {
	width: 98%;
	margin: 0 auto;
	height: 200px;
	border: 2px solid blue;
}

.mobileinternet-one {
	background-image: url(../images/mobile_internet1.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   
}
.mobileinternet-two {
	background-image: url(../images/mobile-internet2.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   	
}
.mobileinternet-three {
	background-image: url(../images/mobile-internet3.jpg);
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;   	
}


@media only all and (min-width: 768px) {
	.contactcontainer, .logincontainer, .registercontainer {
		background-color: #6E6E6E;
		margin: 0 auto;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 1%;
		padding-bottom: 1%;}

	.contactcontainer, .logincontainer {
		width: 50%;
	}

	.registercontainer {
		width: 75%;
	}

	.registercontainer .ui-block-a,
	.registercontainer .ui-block-b
	 {
		padding-left: 1%;
		padding-right: 1%;
	}

	.servicestitle h1 {
	
		font-size: 48px;
		font-family: 'Montserrat', sans-serif;
	}

	#services .ui-content .ui-block-a,
	#services .ui-content .ui-block-b,
	#services .ui-content .ui-block-c {
		width: 33.33333%;
	}
}